.aboutMe_container {
    height: 100vh;

    .aboutMe_title {
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .picture {
        margin-inline: auto;
        height: 270px;
        width: 270px;
    }
}