.education {
    // background-color: var(--color-black);
    color: var(--color-white);
    margin-top: 200px;

    .vertical-timeline-element-content {
        background-color: var(--frame-color);

    
    }
}

.vertical-element-wrapper {
    background-color: var(--frame-color);
    color: white;

}