.home_wrapper {
    justify-content: center;
    align-items: center;
    // background-color: var(--color-black);
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;

    .home {
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--color-white);



        .home_description {
            margin-inline: auto;
            margin-bottom: 20px;
            background-color: #0c0c0c;
            padding: 25px;
            border-radius: 20px;
        }



        .home_span {
            color: orange;
        }

    }

    .picture {
        margin: auto;
        margin-bottom: 50px;
        border-radius: 50%;
        // filter: grayscale(100%);

        z-index: 1;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

//? Home picture animation

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@media only screen and (min-width: 300px) {
    .picture {
        height: 250px;
        width: 250px;
    }

}

@media only screen and (min-width: 600px) {
    .picture {
        height: 500px;
        width: 500px;
    }

}

@media only screen and (min-width: 900px) {
    .home_wrapper {
        display: flex;
        // margin-top: 80px;

        .home_picture {
            margin-left: 50px;

            .picture {
                margin-right: 50px;
            }
        }
    }
}




@media only screen and (min-width: 1200px) {


    .home_picture {
        margin-left: 150px;

        .picture {
            height: 500px;
            width: 500px;
            margin-left: 80px;
        }
    }

    .home_title {
        font-size: 120px;
    }

    .home_my-name {
        font-size: 50px;
    }

    .home_description {
        font-size: 40px;
    }
}