.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;

    // justify-content: center;
    // align-items: center;

    // .projects-wrapper {
    //     display: flex;
    //     background-color: grey;
    // }

    .project-title {
        font-size: 50px;
        margin-right: 200px;

    }

    .cards-wrapper {
        height: 450px;
        width: 750px;
    }

    .card-container {
        height: 450px;
        width: 550px;
        background-color: red;
        background-color: pink;


        .image-container {
            display: flex;
            justify-content: center;
            background-color: blue;
        }

        .projects-image {
            height: 200px;
            width: 200px;
        }

        .card-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }



}