.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

body {
  padding: 0px;
  margin: 0px;
}

.slick-slide>div {
  margin: 0 10px;
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url(./Assets/Fonts/WorkSans-VariableFont_wght.ttf);
}